
*{
    margin:0;
    padding:0;
}

header,
nav,
main,
section,
footer {
    display: block;
}

a{
    text-decoration: none;
}

body {
    font-family: Lato;
}

header{
    width: 100%;
    padding-top: 59px;
    padding-bottom: 48px;
}

header,nav{
    background-color: #ED4C5C
}



#logo{
    margin-left: 50px;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: block;

}

#logo span{
    font-size: 18px;
    font-weight: bold;
    color:#fff;
    text-transform: uppercase;
    padding-left: 28px;
}

nav {
    position: absolute;
    width: 500px;
    height: 22px;
    left: 50px;
    top: 129px;
    display: flex;
    align-items: center;
    line-height: 17px;
}


nav a {
    float: left;
    padding: 12px;
    width: 20%;
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;

    color: #FFFFFF;
}
nav a:hover {
    color: #5e5e5e;
}


.me{
    background-color: #ED4C5C;
    
}

.me img
{
    margin-left: 89px;
    display: block;
    width: 445px;
    height: 311px;
    border-radius: 15px;
    top: 196px;

}

.me button
{
    
    background-color: #ffffff;
    width: 160px;
    height: 50px;
    margin-top: 45px;
    color: #ED4C5C;
    text-transform: uppercase;
    border-radius: 6px;
    border-color: white;
    margin-left: 50px;
    margin-bottom: 55px;
}


main {
    padding-top: 56px;

}
.up_main  {
    position: absolute;
    width: 1440px;
    height: 657px;
    left: 0px;
    top: 657px;

background: #FFFFFF;

}

.up_main h1{
  
        width: 445px;
        height: 89px;
        font-family: Lato;
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 43px;
        color: #000000;
    
        padding-left: 50px;
        padding-top: 50px;
}

.up_main p {
    position: absolute;
    width: 445px;
    height: 83px;
  
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    /* or 20px */
    
    text-align: justify;
    
    color: #000000;
    padding-left: 50px;
    padding-top: 20px;
    top: 100px;
}

#more{
  
    position: absolute;
    width: 100px;
    height: 26.28px;
    left: 50px;
    top: 290px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    text-decoration: none;
    

    text-align: justify;

    color: #ED4C5C;

}


.pic
{
    position: absolute;
    width: 1110px;
    height: 249px;
    left: 50px;
    top: 350px;
}



.pic a
{
    color: #ED4C5C;
    position: absolute;
    border-radius: 8px;
    text-align: center;
    z-index: 2;
    margin-top: 218px;
}

.pic span
{
    position: absolute;
    width: 350px;
    height: 40px;
    background-color: #fff;
   
    z-index: 1;
    border-radius: 8px;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    margin-top: 208px;
   
  
}

.pic img
{
    position: absolute;
    width:350px;
    height: 248.86px;
    border-radius: 8px;
    z-index: 0;
}

a.akiva
{
    left: 130px;
}

a.prowoman
{
    left: 110px;
}

.prowoman
{
    margin-left: 380px;
}

.shecode
{
left: 760px;
}

a.shecode
{
    padding-left: 105px;
}

.myLifestyle{
    position: absolute;
    width: 100%;
    height: 657px;
    left: 0px;
    top: 1314px;
    
    background: #F5F4F4;
    padding-left:50px ;
    padding-top: 57px;

}


.myLifestyle h1 
{
position: absolute;
width: 300px;
height: 47px;
left: 50px;
top: 50px;

font-family: Lato;
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 43px;

color: #000000;
}

.myLifestyle img {

position: absolute;
width: 80px;
height: 80px;
left: 137px;
top: 153px;
}

.icons h2{
    position: absolute;
    width: 130px;
    height: 6px;
    left: 70px;
    top: 50px;
    
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
 
    
    text-align: center;
    
    color: #101010;
    
}
.myLifestyle p{
position: absolute;
width: 191px;
height: 51px;
left: 40px;
top: 170px;

font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
text-align: center;

color: #000000;
}


.icons{ 
    position: absolute;
    width: 11100px;
    height: 226px;
    top: 75px;
    
}


.iconsImg img
 {  
    position: absolute;
    width: 80px;
    left: -20px;
    top: 20px;
    margin-top: 70px;
    margin-left: 104px;

background: #FFFFFF;
}


 .myLifestyle a{
        display: block;
        position: relative;
        height: 226px;
        width: 255px;
        background-color:#ffffff;
        margin-top: 50px;
        margin-right: 30px;
        border-radius: 8px;
        z-index: 0;
        float: left;
    }
    
.myLifestyle a p {
        display: block;
        margin-top: 10px;
        text-align: center;
        color: black;
    }


footer {
    position: absolute;
    width: 1570px;
    height: 80px;
    left: 0px;
    top: 1971px;
    
    background: #ED4C5C;
}

footer h2 {
    position: absolute;
    width: 3100px;
    height: 8px;
    left: 264px;
    top: 30px;
    
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    
    color: #ffffff;}


    footer section{
        width: 134px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 50px;

    }

    footer img
    {
        position:relative;
        display:flex;
        width: 40px;
        height: 40px;
        left: 5px;
        top: 20px;
        justify-content: space-between;

     
    } 
  
.face {
    width: 4px;
    height: 40px;
}

.link {
    width: px;
    left: 7px;
    height: 40px;
}
 
.insta {
    width: 47px;
    left: 7px;
    height: 35px;
    top: 20px;
}
